main {
    margin-top: 60px;
}


#jumbotron {
    width: 100%;
}

.jumbotron {
    padding: 20px;
    /* background-color: white; */
    text-align: center;
    background-color: rgb(38, 70, 83);
}

.wave1 {
    position: absolute;
    top: 410px;
    z-index: 2;
}

.wave2 {
    position: absolute;
    top: 430px;
    z-index: 3;
}

.header-flex {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.jumbotron-title {
    color: rgb(224, 251, 252);
    font-size: 30px;
    padding-bottom: 20px;
}

.jumbotron-text {
    color: rgb(224, 251, 252);
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 8px solid rgb(244, 162, 97);
}

.mini-text-flex {
    display: flex;
    justify-content: flex-start;
}

.mini-text {
    color: rgb(224, 251, 252);
    text-align: left;
    margin-right: 5px;
}

.fa-hand-point-up {
    color: aliceblue;
    font-size: 20px;
}

.icon-down {
    display: none;
}

.fa-hand-point-down {
    color: aliceblue;
    font-size: 20px;
}

button {
    background-color: rgb(38, 70, 83);
    border-style: none;
    /* outline: ; */
}

button:hover {
    cursor: pointer;
    transform: translateY(5px);
}

.jumbotron-img {
    /* border: 2px solid rgb(61, 90, 128); */
    /* border-radius: 30px; */
    /* padding: 3px; */
    height: 400px;
}

.main-content {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

/* ---------------------------------- Navigation ---------------------------------- */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* bottom: 0; */
    height: 60px;
    background-color: rgb(38, 70, 83);
    /* add s-index after adding slider to see the difference*/
    z-index: 100;
    /* box-shadow: 0px 0px 50px gainsboro; */
}

.header-icon {
    width: 40px;
    margin: 8px 15px;
    position: absolute;
}

.title {
    text-align: left;
    position: absolute;
    left: 20px;
    padding: 0;
    margin: 14px 30px 0px;
    color: rgb(244, 162, 97);
}

nav {
    position: absolute;
    right: 0;
    margin: 14px 30px 0px;
}

a {
    color: rgb(244, 162, 97);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

/* ---------------------------------- Aside ---------------------------------- */

aside {
    max-width: 25%;
    max-height: 800px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px gainsboro;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    background-color: white;
}

.aside-title {
    margin-top: 50px;
    font-family: "Caveat", cursive;
    font-size: 25px;
    /* border-bottom: 5px solid slateblue; */
    border-top: 5px solid rgb(38, 70, 83);
    border-radius: 5px;
}

.profile-picture {
    border-style: solid;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0 0 20px gainsboro;
}
ul,
li {
    position: relative;
}

input {
    width: 70%;
    border: none;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(38, 70, 83);
    height: 40px;
    margin: 0;
    padding: 5px;
}

.addBtn {
    width: 30%;
    padding: 6px;
    background-color: rgb(38, 70, 83);
    margin: 0;
    cursor: pointer;
    color: snow;
    height: 40px;
    border-radius: 5px;
    font-size: 10px;
}

.search-tags-list {
    list-style: none;
    margin: 30px 0;
    padding: 0;
}

.search-tags-item {
    margin: 5px;
    padding: 10px;
    background-color: rgb(38, 70, 83);
    color: snow;
    text-align: left;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 5px;
    color: tomato;
    font-family: ‘Fredoka One’, cursive;
    cursor: pointer;
    font-size: 20px;
}

/* ---------------------------------- Main Contents ---------------------------------- */
.main-content {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

.content {
    /* background-color: white; */
    margin-left: 10%;
    /* margin-right: 10px; */
    /* border-radius: 10px; */
    /* box-shadow: 0px 0px 40px gainsboro; */
    max-width: 70%;
}

article {
    max-width: 100%;
}

.article-title {
    text-align: center;
    font-size: 30px;
    margin: 50px 0 30px;
}

.project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    margin: 10px 30px;
    border-bottom: 10px solid #e76f51;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px gainsboro;
}

.project-title {
    color: #e76f51;
    font-weight: bold;
}

.video-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 40px gainsboro;
}

.location {
    display: flex;
}

.maps {
    /* margin-top: 50px; */
    padding: 10px;
    /* background-color: rgba(220, 220, 220, 0.13);  */
    /* box-shadow: 0 0 10px gainsboro; */
    /* display: flex;
    justify-content: center; */
}

.maps-text {
    padding: 0 3px;
}

iframe {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 40px gainsboro;
}

.audio {
    position: fixed;
    /* right: 0; */
}

/* ---------------------------------- Footer ---------------------------------- */
footer {
    background-color: rgb(38, 70, 83);
}

.center-footer {
    margin: 0 20px;
}

.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* padding: 0 20px; */
}

.left-footer {
    margin: 0 auto 0 40px;
}

.right-footer {
    margin: 0 40px 0 auto;
}

.info-left {
    text-align: left;
    width: 100%;
    color: rgb(224, 251, 252);
}

.info-right {
    text-align: right;
    width: 100%;
    color: rgb(224, 251, 252);
}

.info-top {
    text-align: center;
    width: 100%;
    padding-top: 5px;
    /* border-top: 1px solid white; */
    color: rgb(224, 251, 252);
}

.info-center {
    text-align: center;
    width: 100%;
    padding-top: 5px;

    border-top: 1px solid white;
    color: rgb(224, 251, 252);
}

.social-media {
    display: flex;
    justify-content: center;
}

.fa-instagram-square,
.fa-twitter-square,
.fa-facebook-square,
.fa-envelope {
    padding: 5px;
    font-size: 30px;
    color: white;
}

/* ---------------------------------- Like Dislike button ---------------------------------- */

.toggle {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.btn {
    background-color: transparent;
}

.button:hover {
    cursor: pointer;
}

.green {
    color: green;
}

.red {
    color: red;
}

.contact-container {
    display: flex;
    justify-content: flex-start;
}